.radio-card-container {
  background-color: var(--bg-component) !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.radio-card-container:hover {
  transform: translateY(-5px);
  box-shadow: .25rem .25rem .125rem var(--lightAccent);
}

.radio-card-img {
  width: 3.125rem !important;
  height: 3.125rem !important;
}

.radio-card-title {
  color: var(--text-color) !important;
}

.radio-card-text {
  color: var(--text-color) !important;
}

.radio-card-btn-favorite {
  display: flex !important;
  align-items: center !important;
  background-color: var(--accent) !important;
  border-color: var(--accent) !important;
}

.radio-card-btn-home {
  display: flex !important;
  align-items: center !important;
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.radio-card-btn-edit {
  display: flex !important;
  align-items: center !important;
  background-color: var(--accent) !important;
  border-color: var(--accent) !important;
}

.radio-card-btn-remove {
  display: flex !important;
  align-items: center !important;
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
}

.radio-card-btn-home:hover {
  background-color: var(--lightAccent) !important;
  border-color: var(--primary) !important;
}

.radio-card-btn-edit:hover {
  background-color: var(--primary) !important;
  border-color: var(--lightAccent) !important;
}

.radio-card-btn-remove:hover {
  background-color: var(--lightAccent) !important;
  border-color: var(--secondary) !important;
}

@media (max-width: 1060px) {
  .radio-card-info {
    width: 60%;
  }
  .radio-card-btn-text {
    display: none;
  }
}

@media (max-width: 530px) {
  .radio-card-container {
    margin-left: .75rem !important;
    width: 90% !important;
  }

  .radio-card-info {
    display: none;
  }

  .radio-card-img {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
  
  .radio-card-btn-favorite,
  .radio-card-btn-home,
  .radio-card-btn-edit,
  .radio-card-btn-remove {
    justify-content: center !important;
    padding: 0.25rem 1rem !important;
    font-size: 0.5rem !important;
    width: 2.5rem !important;
  }
}
