@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --primary: #004766;
  --secondary: #003366;
  --tertiary: #003247;
  --accent: #80d9ff;
  --lightAccent: #bfecff;  

  --bg-gradient: linear-gradient(350deg, var(--primary), var(--secondary));
  --bg-component: var(--tertiary);
  --text-color: var(--lightAccent);
}

.home-spinner {
  width: 4rem;
  height: 4rem;
  color: var(--primary);
}

.home-spinner-text {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--secondary);
}

@media (max-width: 530px) {
  .home-spinner-text {
    font-size: 1rem;
  }
}