.searchbar-container {
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.searchbar-input {
  background-color: var(--bg-component) !important;
  color: var(--text-color) !important;
  border-color: var(--lightAccent) !important;
}

.searchbar-icon {
  color: var(--accent);
  background-color: var(--bg-component);
  font-weight: bold;
  height: 75% !important;
}

.searchbar-input::placeholder {
  color: var(--lightAccent) !important;
}