.sidebar-container {
  background-color: var(--bg-component);
  width: 30%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.sidebar-subtitle {
  padding-left: .5rem;
  color: var(--text-color);
  font-size: 1.25rem;
}

.sidebar-list-container {
  margin-top: 1rem;
  flex-grow: 1;
  overflow-y: auto;
}

.sidebar-radio-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.sidebar-radio-img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.sidebar-radio-name {
  color: var(--text-color);
}

.sidebar-icon-container {
  margin-left: auto;
}

.sidebar-favorite-icon {
  cursor: pointer;
  color: var(--accent);
}

.sidebar-delete-icon {
  cursor: pointer;
  color: var(--lightAccent);
}

.hr-line {
  color: white;
  margin-right: .5rem;
  margin-left: .5rem;
  margin-top: .125rem;
  margin-bottom: .125rem;
}


@media (max-width: 730px) {
  .sidebar-subtitle {
    font-size: 1rem;
  }
  
  .sidebar-radio-name {
    display: none;
  }

  .sidebar-favorite-icon,
  .sidebar-delete-icon {
    margin-right: 0.5rem;
  }
}
